@model DataTable;
@using System.Data;

<div class="card">
    <div class="card-body">
        <table>
            <tr>
                <td><h5 class="card-title">User Table</h5></td>
                <td>
                    <div class="ps-5">
                        <a asp-controller="User" asp-action="User_Form"><button type="button" class="btn btn-success">Add</button></a>
                    </div>
                </td>
            </tr>
        </table>

        <!-- Default Table -->
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">User ID</th>
                    <th scope="col">User Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Password</th>
                    <th scope="col">Mobile No</th>
                    <th scope="col">Address</th>
                    <th scope="col">Is Active</th>
                </tr>
            </thead>
            <tbody>

                @foreach (DataRow user in Model.Rows)
                {
                    <tr>
                        <th scope="row">@user["UserID"]</th>
                        <td>@user["UserName"]</td>
                        <td>@user["Email"]</td>
                        <td>@user["Password"]</td>
                        <td>@user["MobileNo"]</td>
                        <td>@user["Address"]</td>
                        <td>@user["IsActive"]</td>
                        <td>
                            <a asp-controller="User" asp-action="User_Form"><button type="button" class="btn btn-primary">Edit</button></a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                }

            </tbody>

        </table>
        <!-- End Default Table Example -->
    </div>
</div>