@using System.Data
@model DataTable

<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Order List</h5>
                    <div class="d-flex justify-content-end gap-3">
                        <a class="btn btn-primary" asp-controller="Order" asp-action="AddOrder">Add Order</a>
                        <a class="btn btn-primary" asp-controller="Order" asp-action="ExportExcel">Export Excel</a>
                    </div>

                    <!-- Table with stripped rows -->
                    <table class="table mt-5">
                        <thead>
                            <tr>
                                <th>OrderID</th>
                                <th>OrderDate</th>
                                <th>CustomerID</th>
                                <th>OrderNumber</th>
                                <th>PaymentMode</th>
                                <th>TotalAmount</th>
                                <th>ShippingAddress</th>
                                <th>UserName</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow Order in Model.Rows)
                            {
                                <tr>
                                    <td>@Order["OrderID"]</td>
                                    <td>@Order["OrderDate"]</td>
                                    <td>@Order["CustomerID"]</td>
                                    <td>@Order["OrderNumber"]</td>
                                    <td>@Order["PaymentMode"]</td>
                                    <td>@Order["TotalAmount"]</td>
                                    <td>@Order["ShippingAddress"]</td>
                                    <td>@Order["UserName"]</td>
                                    <td> 
                                        <a class="btn btn-sm btn-warning" asp-action="OrderEdit" asp-controller="Order" asp-route-OrderID="@Order["OrderID"]">Edit</a>
                                        <a class="btn btn-sm btn-danger" asp-action="OrderDelete" asp-controller="Order" asp-route-OrderID="@Order["OrderID"]">Delete</a>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                    <!-- End Table with stripped rows -->
                </div>
            </div>
        </div>
    </div>
</section>
